start_date: 2022-06-01T00:00:00
#end_date: 2022-06-01T00:00:00
end_date: 2023-06-01T12:00:00

checkpoints:
  forecaster:
    checkpoint_path: /leonardo_work/DestE_330_25/enordhag/ensemble-scripts/src/AIFS-ENS/bris-inference/aifs-ens-crps-1.0.ckpt
    leadtimes: 40
    static_forcings_dataset: null
    switch_graph: null

dataset: 
  join:
    - dataset: /leonardo_work/DestE_330_25/anemoi/datasets/ERA5/aifs-ea-an-oper-0001-mars-n320-1979-2022-6h-v6.zarr
    - dataset: /leonardo_work/DestE_330_25/anemoi/datasets/ERA5/aifs-ea-an-oper-0001-mars-n320-1979-2023-6h-v1-land.zarr
      select: [stl1, stl2]
  adjust: ["start", "end"]
frequency: 6h
workdir: .

dataloader:
  datamodule:
    _target_: bris.data.dataset.NativeGridDataset
    _convert_: all

prefetch_factor: 2
num_workers: 4

hardware:
  num_gpus_per_node: ${oc.decode:${oc.env:SLURM_GPUS_PER_NODE}}
  num_nodes: ${oc.decode:${oc.env:SLURM_NNODES}}
  num_gpus_per_model: 1
  num_members: 10

# If the user wants to release GPU cache and memory
# This option releases unused cached/memory used by torch
release_cache: False

model:
  _target_: bris.model.brispredictor.BrisPredictor
  _convert_: all

routing:
  - decoder_index: 0
    domain_index: 0
    outputs:
      #- netcdf:
      #    filename_pattern: /leonardo_work/DestE_330_25/enordhag/bris-inference/netcdf/n320/n320_pred_%Y%m%dT%HZ.nc
      #    variables: [2t, msl, tp, tcc]
      #    interp_res: 0.25
      #    extra_variables: [ws] #Compute wind speed from 10u and 10v
      - verif:
          filename: /leonardo_work/EUHPC_R04_079/bris/verification/ens/6h/202206_202305/t2m/aifs-ens.nc
          variable: 2t
          units: degC
          elev_gradient: -0.0065
          obs_sources:
            - verif:
                filename: /leonardo_work/EUHPC_R04_079/bris/verification/nordic/6h/202206_202305/t2m/MEPS_2.5km.nc
      - verif:
          filename: /leonardo_work/EUHPC_R04_079/bris/verification/ens/6h/202206_202305/ws10m/aifs-ens.nc
          variable: ws
          units: m/s
          obs_sources:
            - verif:
                filename: /leonardo_work/EUHPC_R04_079/bris/verification/nordic/6h/202206_202305/ws10m/MEPS_2.5km.nc
      - verif:
          filename: /leonardo_work/EUHPC_R04_079/bris/verification/ens/6h/202206_202305/mslp/aifs-ens.nc
          variable: msl
          units: hPa
          obs_sources:
            - verif:
                filename: /leonardo_work/EUHPC_R04_079/bris/verification/nordic/6h/202206_202305/mslp/MEPS_2.5km.nc
      - verif:
          filename: /leonardo_work/EUHPC_R04_079/bris/verification/ens/6h/202206_202305/precip6h/aifs-ens.nc
          variable: tp
          units: mm
          obs_sources:
            - verif:
                filename: /leonardo_work/EUHPC_R04_079/bris/verification/nordic/6h/202206_202305/precip6h/MEPS_2.5km.nc
